/**
Authors:Charles Aondo and Ahsleigh Pierre
Date:2018-11-12
Description:Css file is use for the layout design of the php page trivia.php
 */
#container{
    width: 650px;
    margin: auto;
    border:  whitesmoke;
    background-color: navajowhite;
    text-align: center;
}
.visuallyImpaired{
    font-size: x-large;
    background:#FFFF80;
    color:black;
    padding-left: 1em;
    text-indent: -1em;
    width: 650px;
    margin: auto;
    border:  whitesmoke;
    text-align: center
}
/*Altered width,margin-left*/
.form-control {
    margin-left: 200px;
    display: block;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.error{
    color: red;
}